<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center text-white">
          <!-- Footer Content -->
          © 2023 Obada Allan. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
